---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 18px/1.4 $nunito;
  font-weight: 300;
  color: $darkGray;
}

p a {
  word-break: break-all;
}

.container {
  @include outer-container;
  padding: 20px;
  @include media($mobile) {
    padding: 0 16px;
  }
}

.news-home .container {
  @include media($mobile) {
    padding: 0 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

.h2-shadow {
  color: $pai-green;
  //text-shadow: 1px 1px 1px $black;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
    text-decoration: underline;
  }
}

emp {
  color: $pai-green;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

table, th, td {
   
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

// Front-page
// .masthead
//

.wrapper-masthead {
  background: $lightGray;
  //border-top: 6px solid $pai-gray;
}

.masthead {
  padding: 20px 0 0 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 200px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

#nav-ul {
  margin-top: 23px; // @TODO: Vertically middle align
}

#nav-ul, #nav-ul ul {
  color: $black;
  padding: 0;
  list-style-type: none;
  float: right;
  //margin-top: 23px; // @TODO: Vertically middle align
  font-size: 18px;
  a {
    color: $black;
  }
  a:hover {
      color: $pai-green;
    }  
  @include mobile {
    float: none;
    text-align: center;
  }
}

#nav-ul li{
display:inline-block;
position:relative;
@include mobile {
  padding: 0 0.6em;
  }
}

#nav-ul ul li{
display:inherit;
}

#nav-ul ul{
margin-top: 10px;
width: 220px;
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}

#nav-ul li:hover ul {
border-radius: 2px;
max-height:15em;
width: 220px;
}

/* background des liens sous menus */
#nav-ul li:first-child li{
background: $white;
padding-left: 20px;
}

/* les a href */

#nav-ul a{
display:block;
padding:8px 24px;
@include mobile {
  padding: 0;
  }
}

#nav-ul ul a {
padding:8px 0;
}

#nav-ul li:hover li a {
text-transform:inherit;
}

.search-form {
  text-align: right;
  margin-top: 4.4em;
  margin-right: 4.5em;
  @include mobile {
    text-align: center;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1em;
  }
}

//////////// .main /////////////

section {
  margin-bottom: 2.8em;
  @include mobile {
    margin-bottom: 1em;
  }
}

.front-page-hero {
  background: url("/assets/images/iterbynight_croux.jpg") no-repeat;
  background-size: cover;
  background-position: 40% 62%;
  padding: 7em 0;
  padding-bottom: 0;
  @include media($mobile) {
    background: rgba($pai-green, 0.9);
    padding: 0;
  }
  @include media($tablet) {
    background: rgba($pai-green, 0.9);
    padding: 0;
  }
}

.front-page-hero h1 {
  @include outer-container;
  padding: 0.2em 0;
  color: $white;
  //text-shadow: 1px 1px 1px $black;
  letter-spacing: 2.6px;
   @include media($tablet) {
    padding: 0.2em 1em;
   }
   @include media($mobile) {
    font-size: 24px;
    padding: 0.1em 0.5em;
    margin-top: 0;
   }
   @include media($tablet) {
    
    padding: 0.1em 0.5em;
    margin-top: 0;
   }
 }

.announce {
  color: white;
  text-align: right;
  position: relative;
  bottom: 3.2em;
  right: 3em;
  margin: 0;
  padding: 0;
  @include media($mobile) {
    display: none;
  }
  @include media($tablet) {
    display: none;
  }
}

.announce a {
  color: white;
}

.front-page-welcome {
  background: rgba($pai-green, 0.7);
  margin-left: 0;
  height: 63px;
  @include media($mobile) {
    height: inherit;
  }
}

.slogan {
  font-size: 42px;
  color: $pai-green;
  //text-shadow: 1px 1px 1px $black;
  @include mobile {
    font-size: 34px;
    margin-top: 1.6em;
  }
}

.president-photo {
  text-align: center;
  margin-bottom: 4.2em;
  margin-top: 1em;
  @include span-columns(4 of 12);
  @include media($mobile) {
    @include span-columns(12 of 12);
    padding: 0 60px;
    margin: 0 auto 0.8em 0;
  }
}

.intro-text {
  @include span-columns(8);
   @include media($mobile) {
    @include span-columns(12 of 12);
    margin-bottom: 2.4em;
    text-align: justify;
  }
  @include media($tablet) {
    margin-bottom: 2.8em;
  }
}

.front-page-info {
  font-size: 20px;
  @include span-columns(12);
  ul {
    list-style-type: disc;
  }
}

.front-page-info-points {
 background: $lightGray;
 padding-top: 0.4em;
 padding-bottom: 0.4em;
 @include mobile {
  font-size: 16px;
 }
}

.front-page-info-points ul {
  margin-top: 0;
  padding: 1em 1em 1em 4.8em;
  @include mobile {
    padding: 0 0 0 50px;
  }
}

.front-page-info-points ul li {
  margin: 1.4em 0 1.4em 0;
}

.front-page-marketing {
  @include span-columns(12 of 12);
  ul {
    padding-left: 50px;
    list-style-type: disc;
    @include media(1020px) {
    height: 332px;
    }
  }
}

.front-page-marketing li {
  padding: 1em 1.2em 1em 0em;
}

.front-page-div {
  @include span-columns(4 of 12);
  background: $lightGray;
    @include mobile {
    @include span-columns(12 of 12);
    margin-bottom: 1em;
    }
    @include tablet {
    @include span-columns(12 of 12);
    margin-bottom: 1em;
    }
}

#nuclear {
  line-height: 1.7em;
}

#local, #nuclear, #multiskilled {
  @media(max-width: 1020px) and (min-width: 510px) {
    line-height: 1.7em;
  }
  @include media($mobile) {
    line-height: inherit;
  }
}

.front-page-div-3 li {
  padding: 0.5em 1.2em 0.5em 0em;
}
.opaque-background-green {
  margin-top: -200px;
  margin-bottom: 0;
  background: rgba($pai-green, 0.7);
}

.opaque-background-green h2 {
  padding: 2px 4px 2px 30px;
  color: $white;
  
  font-weight: 300;
  margin-bottom: 0;
}

.opaque-background-green-2 {
  margin-bottom: 0;
  background: rgba($pai-green, 0.9);
}

.opaque-background-green-2 h2 {
  padding: 2px 4px 2px 30px;
  color: $white;
 
  font-weight: 400;
  margin-bottom: 0;
  /*@include mobile {
    font-size: 20px;
  }*/
}

.opaque-background-green-home {
  margin-bottom: 0;
  background: rgba($pai-green, 0.9);
  @include media($tablet) {
  height: 1.7em;
  }
  @include media($mobile) {
  height: inherit;
  }
}

.opaque-background-green-home h2 {
  font-size: 20px;
  padding: 2px 4px 2px 30px;
  color: $white;
  line-height: 72px;
  font-weight: 300;
  margin-bottom: 0;
  margin: 0;
  @include media($tablet) {
    line-height: 1.7em;
  }
  @include media($mobile) {
  height: inherit;
  }
}

.opaque-background-green-home-1 h2, .opaque-background-green-home-3 h2 {
}

.front-page-logos {
  @include span-columns(12);
}

.home-page-table {
   margin: 0 auto;
}

.table-inner {
  background: $white;
  margin: 1em 1.5em;
  padding: 1em;
}

.home-page-table td {
  max-width: 200px;
  max-height: 100px;
}

.latest-news-item {
  @include span-columns(12 of 12);
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: lowercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

/////////// NEWS /////////////

.news-home {
  background: #F2F2F2;
  @include media($mobile) {
    background: $lightGray;
  }
}

.news-logo {
  width: 300px;
}

.news-hero {
  width: 100%;
  height: 300px;
  background: url("/assets/images/iter3.jpg") no-repeat;
  background-size: cover;
  background-position: 10% 50%;
}

.previous-news-header {
  margin-top: 3em;  
}

.news-item {
  padding: 2.8em 6em 4em 6em;
  background: $white;
  @include mobile {
    padding: 1.2em 0.6em 2.2em 1em;
  }
}

/// POST ///

.post {
  max-width: 764px;
  margin-right: auto;
  margin-left: auto;
  @include mobile {
    padding: 1em 1em 2em 1em;
  }
}

.post h1 {
  margin-top: 1.8em;
}

// PARTNER //

.partner-info ul li {
  list-style-type: disc;
}

.posts {
  margin: 0;
}

.post-list {
  padding: 0;
  margin: 0;
}

.post-list h1 {
  padding: 0;
  margin: 0;
}

// CONTACTS //

.front-page-welcome-contacts {
  background: $pai-green;
  padding: -4em;
}

.front-page-welcome-contacts h1 {
  color: $white;
  //text-shadow: 1px 1px 1px $black;
  letter-spacing: 2.6px;
}

.flex-container-1, .flex-container-2, .flex-container-3 {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  @include mobile {
    flex-direction: column;
  }
}

.flex-item-1 {
  flex-grow: 2;
  background: url("/assets/images/iter1.jpg") no-repeat;
  background-size: cover;
  &:hover {
    background-size: 130%;
    background-position: 76% 30%;
    transition: 0.8s;
  }
}

.flex-item-2 {
  flex-grow: 1.5;
  background: url("/assets/images/final_pour.jpg") no-repeat;
  background-size: cover;
  &:hover {
    background-size: 160%;
    background-position: 50% 50%;
    transition: 0.8s;
  }
}

.flex-item-3 {
 flex-grow: 1;
 background: url("/assets/images/7755.jpg") no-repeat;
 background-size: cover;
 background-position: center top;
 &:hover {
    background-size: 110%;
    background-position: center;
    transition: 0.8s;
  }
}

.flex-item-4 {
  flex-grow: 1;
  background: url("/assets/images/ic5.jpg") no-repeat;
  background-size: cover;
  &:hover {
    background-size: 110%;
    background-position: center;
    transition: 0.8s;
  }
}

.flex-item-5 {
  flex-grow: 1;
  background: url("/assets/images/maud.jpg") no-repeat;
  background-size: cover;
  background-position: top right;
  &:hover {
    background-size: 120%;
    transition: 0.8s;
    background-position: bottom right;
  }
}

.flex-item-6 {
  flex-grow: 1;
  background: url("/assets/images/dsc.jpg") no-repeat;
  background-size: cover;
  &:hover {
    background-size: 180%;
    background-position: center bottom;
    transition: 0.8s;
  }
}

/// SERVICES: CONTACT BY ITER SYSTEMS ///

.flex-item-7 {
  flex-grow: 1;
  background: url("/assets/images/industeel_1a.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  &:hover {
    background-size: 140%;
    background-position: 50% 20%;
    transition: 0.8s;
  }
}

.flex-item-8 {
  flex-grow: 1;
  background: url("/assets/images/cladding_3a.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  &:hover {
    background-size: 110%;
    background-position: top center;
    transition: 0.8s;
  }
}

.flex-item-9 {
  flex-grow: 1;
  background: url("/assets/images/hq_close_up.jpg") no-repeat;
  background-size: cover;
      background-position: center;
  &:hover {
    background-position: 50% 65%;
    background-size: 200%;
    transition: 0.8s;
  }
}

.flex-item-10 {
  flex-grow: 1;
  background: url("/assets/images/winding_machine.jpg") no-repeat;
   background-size: cover;
   background-position: 50% 70%;
  &:hover {
    background-size: cover;
    background-position: 50% 80%;
    transition: 0.8s;
  }
}

.flex-item-11 {
  flex-grow: 1;
  background: url("/assets/images/transfo_install.jpg") no-repeat;
   background-size: cover;
  &:hover {
    background-size: 110%;
    background-position: 0% 100%;
    transition: 0.8s;
  }
}

.flex-item-12 {
  flex-grow: 1;
  background: url("/assets/images/tokamak_pit_snow.jpg") no-repeat;
  background-size: cover;
      background-position: center;
  &:hover {
    background-position: 50% 60%;
    background-size: 200%;
    transition: 0.8s;
  }
}

.flex-item {

  height: 200px;
  color: $white;
  font-family: $montserrat;
  font-weight: 300;
  //text-shadow: 2px 2px 1px $black;
  font-size: 30px;
  text-align: center;
  @include mobile {
    font-size: 1.4em;
  }
}

.flex-item {
  color: $white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.contact-background li {
  background: rgba($pai-green, 0.8);
  margin-top: 159px;
}

@media (max-width: 640px ) {
  .contact-background li {
  margin-top: 165px;
  }
}

.services-button {
  background: $blue;
  cursor: pointer;
  height: 60px;
  color: $white;
  //text-shadow: #666666;
  font-family: $nunito;
  font-weight: 300;
  font-size: 1.1em;
  //padding-left: 20px;
  margin: 0.5em 0.2em;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 1px $darkerGray;
  &:hover {
    background: darken($blue, 20%);
  }
  @include media($tablet) {
    height: 100px;
  }
}

.services-button span {
  position: relative;
  bottom: 12px;
}

.iter-icon {
  height: 50px;
  width: auto;
  padding-left: 14px;
  z-index: 1;
  position: relative;
  top: 3px;
}

.paulund_modal_box { 
        position:absolute; 
        left: 24%;
        top: 24%;
        display:none;
        height: auto;
        width: parent;
        max-width: 900px;
        box-shadow: 0px 2px 7px #292929;
        -moz-box-shadow: 0px 2px 7px #292929;
        -webkit-box-shadow: 0px 2px 7px #292929;
        z-index:50;
        background: $white;
        padding-top: 0;
        padding: 0;
        @include media($tablet) {
          max-width: 96%;
          left: 2%;
          top: 2%;
          }
}

.modal-title {
  font-size: 32px;
  color: $white;
  //text-shadow: 1px 1px 1px $black;
  background: rgba($pai-green, 1);
  margin: 0;
  padding:0;
  padding-left: 1em;
  width: parent;
  letter-spacing: 2.6px;
}

.modal_box_inner {
  background: $lightGray;
  padding: 2em;
}

#magnets, #vv, #ivc, #rh {
  @include span-columns(6 of 12);
}

#cryo, #codac, #diag {
  @include span-columns(4 of 12);
}

#hscd {
  @include span-columns(7 of 12);
}

#psupply {
  @include span-columns(5 of 12);
}

//// PARTNER INFO /////

.partner-info {
   @include span-columns(7 of 12);
   @include media($mobile) {
    @include span-columns(12 of 12);
   }
    @include media($tablet) {
    @include span-columns(12 of 12);
   }
}

.partner-logo {
  margin-top: 2em;
}

.contact-card h3 {
  padding-left: 1em;
  margin-top: 0;
  color: $white;
  //text-shadow: 1px 1px 1px $black;
  font-weight: 400;
}

.contact-card {
  margin-top: 14em;
  background: $lightGray;
  @include shift(1);
   @include span-columns(4 of 12);
   @include media($mobile) {
    @include shift(0);
    @include span-columns(12 of 12);
    margin-top: 2em;
   }
   @include media($tablet) {
    @include shift(0);
    @include span-columns(12 of 12);
    margin-top: 2em;
   }
 }

 .contact-card-info {
   padding: 0.4em 1.6em 1.8em 1.6em;
 }

 .contact-card, .partner-info {
  @media screen and (max-width: 900px) {
    @include outer-container;
    @include span-columns(12 of 12);
    margin-top: 2em;
  }
 }


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
