---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 18px/1.4 $nunito;
  font-weight: 300;
  color: $darkGray;
}

.container {
  @include outer-container;
  padding: 20px;
  @include media($mobile) {
    padding: 0 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

// Front-page
// .masthead
//

.wrapper-masthead {
  background: $lightGray;
  border-top: 6px solid $pai-gray;
}

.masthead {
  padding: 20px 0 0 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 200px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 18px;
  a:hover {
      color: $pai-green;
    }

  .search-form {
    margin-left: 120px;
    margin-top: 20px;
  }

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main
//

.front-page-hero {
  background: url("/assets/images/iterbynight_croux.jpg") no-repeat;
  background-size: 100%;
  padding: 60px 0;
}

.front-page-hero h1 {
  color: $white;
  font-size: 42px;
  text-shadow: 2px 2px 1px $black;
}

.front-page-welcome {
  @include outer-container;
}

.president-photo {
  @include span-columns(4 of 12);
  @include media($mobile) {
    @include span-columns(12 of 12);
    padding: 0 60px;
    margin: 0 auto;
  }
}

.intro-text {
  @include span-columns(8);
   @include media($mobile) {
    @include span-columns(12 of 12);
  }
}

.front-page-info {
  @include span-columns(12);
  ul {
    list-style-type: disc;
  }
}

.front-page-logos {
  @include span-columns(12);
}

.latest-news-item {
  @include span-columns(12 of 12);
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: lowercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// NEWS //

.news-logo {
  max-width: 90%;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
