
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$pai-green: #4b8475;
$pai-gray: #4c4c4c;
$pai-blue: #14abcc;
$pai-yellow: #fab933;
$red: #E50F13;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$opensans:'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
	@media screen and (max-width: 1020px) {
    @content;
  }
}